body {
  font-family: Sans-serif;
  background: whitesmoke;
}

.joke-title {
  text-align: center;
}

.joke-list {
  width: 40%;
  border: 1px solid silver;
  border-radius: 4px;
  padding: 40px;
  margin: auto;
  background-color: white;
}

.joke {
  border-top: 1px solid silver;
  padding: 10px;
} 

.joke span {
  font-weight: bold;
}